<app-parent></app-parent>
<hr>
<hr>

<app-movie-dashboard></app-movie-dashboard>
<hr>
<hr>
<div class="container mt-5 mb-5">
  <div class="bg-success text-white">
    <h1>Services and dependancy injection Assignment-1</h1>
    <p>1. Create an add account feature with status selection option and and display it in the accounts list using services and log the result that account is added with status</p>
    <p>2. create three options/buttons where you can set the status of the accounts and alert the status if status is changed from on to another</p>

  </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <app-new-account></app-new-account>
        <hr>
        <app-account
          *ngFor="let acc of accounts; let i = index"
          [account]="acc"
          [id]="i"></app-account>
      </div>
    </div>
  </div>
<hr>
<hr>


  <div class="container mt-5 mb-5">
    <div  class=" row bg-success text-white fw-bold">
      <h1>Services and dependancy injection Assignment-2</h1>
      <p>1.Optimize this app by adding a UsersService which manages the active and inactive users.</p>
    
        <p>2.Also add a CounterService which counts the number of active->inactive and inactive->active actionsand log the result in console</p>
  </div>
    
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <app-active-users></app-active-users>
        <app-inactive-users></app-inactive-users>
      </div>
      <!--
        Optimize this app by adding a UsersService which manages the active and inactive users.
  
        Also add a CounterService which counts the number of active->inactive and inactive->active actions.
      -->
    </div>
  </div>
  